@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  text-align: center;
  background-color: rgb(31, 31, 31);
}

button {
  width: 100px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  background-color: rgb(94, 94, 94);
  color: white;
  margin: 10px;
}

button:hover {
  border-color: white;
}

.button0 {
  float: right;
  margin: 1px 1250px;
}

h1 {
  font-size: xx-large;
  font-family: 'Roboto', sans-serif;
  color: white;
}

label {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: large;
}

input[type='number'] {
  margin: 10px;
  width: 200px;
  height: 25px;
  color: white;
  border-radius: 15px;
  border: 1px solid white;
  background-color: rgb(31, 31, 31);
  transition-duration: 0.1s;
}

input[type='number']:hover {
  border-color: transparent;
  background-color: rgb(94, 94, 94);
}

input[type='submit'] {
  margin: 10px;
  width: 150px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid transparent;
  font-family: 'Roboto', sans-serif;
  font-size: medium;
  background-color: rgb(94, 94, 94);
  color: white;
  transition-duration: 0.1s;
}

input[type='submit']:hover {
  border-color: white;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  border-color: white;
}
