<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head', {page: 'despesas'}); %>
</head>

<body>
  <h1>Despesas</h1>
  <%- include('../partials/return')%>
  <form>
    <label for="escola">Despesas com Escola:</label>
    <br>
    <input type="number" id="escola" name="escola" min="0">
    <br>
    <label for="viagens">Despesas com Viagens:</label>
    <br>
    <input type="number" id="viagens" name="viagens" min="0">
    <br>
    <label for="material">Despesas com Material Escolar:</label>
    <br>
    <input type="number" id="material" name="material" min="0">
    <br>
    <label for="gerais">Despesas Gerais:</label>
    <br>
    <input type="number" id="gerais" name="gerais" min="0">
    <br>
    <input type="submit" value="Submeter Valores">
  </form>
  <script src="/js/script.js"></script>
</body>

</html>