<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head', {page: 'grafico'}); %>
  <script type="text/javascript" src="/js/chart.js" defer></script>
</head>

<body>
  <h1>Gráficos</h1>
  <%- include('../partials/return')%>
  <button onclick="showGrafMensal()">Visualizar Gráfico Mensal</button>
  <button onclick="showGrafAnual()">Visualizar Gráfico Anual</button>
  <div id="containerMonth" class="design">
    <canvas height="600" id="myChartMonth" width="200" style="display: block; box-sizing: border-box;"></canvas>
  </div>
  <div id="containerAnnual" class="design">
    <canvas id="myChartAnnual" height="200"></canvas>
  </div>

  <script type="text/javascript" src="/js/node_chart.js"></script>
</body>

</html>