<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head', {page: 'grafico'}); %>
</head>
<body>
    <h1>Gráficos</h1>
    <%- include('../partials/return')%>
    <button onclick="showGrafMensal()">Visualizar Gráfico Mensal</button>
    <button onclick="showGrafAnual()">Visualizar Gráfico Anual</button>
    <script src="/js/script.js"></script>
</body>
</html>